<p style="color: green"><%= notice %></p>

<h2 class='margin-left'><%= @category.name %> > <%= @sub_category.name %> > Products</h2>

<% if @products.any? %>
  <table id="products-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delivery Cost</th>
        <th>Delivery Time</th>
        <th>Vendor</th>
        <th>Quantity</th>
        <th>Size</th>
        <!-- Add more table headers for other product attributes -->
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr data-href="<%= category_sub_category_product_path(@category, @sub_category, product) %>">
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.delivery_cost %></td>
          <td><%= product.delivery_time %></td>
          <td><%= product.vendor %></td>
          <td><%= product.quantity %></td>
          <td><%= product.size %></td>
          <td><%= product.image %></td>
          <!-- Add more table cells for other product attributes -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class='margin-left'>No products found for this sub-category.</p>
<% end %>

<%= link_to "Add New Product", new_category_sub_category_product_path(@category, @sub_category), class: 'margin-left add-btn margin-top' %>

<hr class='margin-top margin-bottom'>
<div>
  <%= link_to "Edit #{@sub_category.name}", edit_category_sub_category_path(@category, @sub_category), class: 'edit-btn margin-left margin-right' %>
  |
  <%= link_to "Back to #{@category.name} sub categories", category_path(@category) %>
  <%= button_to "Delete #{@sub_category.name}", category_sub_category_path(@category, @sub_category), method: :delete, class: 'delete-btn margin-left margin-top' %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  $(document).ready(function() {
    $('#products-table tbody tr').on('click', function() {
      var href = $(this).data('href');
      if (href) {
        window.location = href;
      }
    });
  });
</script>
