<p style="color: green"><%= notice %></p>

<%= render @product %>


<div>
  <%= link_to "Edit #{@product.name}", edit_category_sub_category_product_path(@category, @sub_category, @product), class: 'edit-btn margin-left margin-top' %> |
  <%= link_to "Back to #{@sub_category.name} products", category_sub_category_path(@category, @sub_category) %>

  <%= button_to "Delete #{@product.name}", category_sub_category_product_path(@category, @sub_category, @product), method: :delete, class: 'delete-btn margin-left margin-top' %>
</div>
