<div id="<%= dom_id facebook_review %>" class= "index-item">
  <p>
    <strong>Last update:</strong>
    <%= facebook_review.updated_at %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= facebook_review.full_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= facebook_review.username %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= facebook_review.review_text %>
  </p> 
</div>
