<p style="color: green"><%= notice %></p>

<div class="row index-heading">
  <%= image_tag("facebook.png", alt: "facebook icon", class: 'heading-icon') %>

  <h1>Facebook Mock Reviews</h1>
  <%= link_to new_facebook_review_path, class: 'column align-center' do %>
    <i class="fas fa-plus icon blue"></i>
    <p class='icon-label blue'>Add new review</p>
  <% end %>
  
</div>

<div id="facebook_reviews">
  <% @facebook_reviews.each_with_index do |facebook_review, index| %>
    <%= link_to facebook_review do %>
      <%= render partial: 'facebook_reviews/facebook_review', locals: { facebook_review: facebook_review, index: index } %>
    <% end %>
  <% end %>
</div>
